<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .title{
    text-align: center;
}
.container{
    width : 90%;
    margin : 0 auto;
}
.card{
    width: 30%;
    margin : 1.66%;
    float : left;
}
img{
    width: 100%;
    height: auto;
}
    </style>
</head>
<body>
    <h1 class="title">Image Gallery</h1>
    <div class="container">
        <div class="card">
            <img src="https://images.pexels.com/photos/3266523/pexels-photo-3266523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="this is an image">
        </div>
        <div class="card">
            <img src="https://images.pexels.com/photos/3266523/pexels-photo-3266523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="this is an image">
        </div>
        <div class="card">
            <img src="https://images.pexels.com/photos/3266523/pexels-photo-3266523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="this is an image">
        </div>
        <div class="card">
            <img src="https://images.pexels.com/photos/3266523/pexels-photo-3266523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="this is an image">
        </div>
        <div class="card">
            <img src="https://images.pexels.com/photos/3266523/pexels-photo-3266523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="this is an image">
        </div>
        <div class="card">
            <img src="https://images.pexels.com/photos/3266523/pexels-photo-3266523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="this is an image">
        </div>
    </div>
</body>
</html>