<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Nav</title>
    <style>
        *{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height : 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url("https://images.pexels.com/photos/1402787/pexels-photo-1402787.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-bar{
    height : 10vh;
    display: flex;
    justify-content: space-around;
    line-height: 10vh;
    background-color: rgb(26, 26, 26);
    position: relative;
    z-index: 10;
}


@media (max-width : 700px){
    .logo{
        width : 90%;
        color : whitesmoke;
    }
}
@media (min-width : 700px){
    .logo{
        width : 30%;
        color : white;
    }
}



@media (max-width : 700px){
    .links{
        display: none;
    }
}
.links{
    width: 30%;
}
.top-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links{
    color : white;
    text-decoration: none;
}



@media (max-width : 700px){
    .burger{
        display: inline-block;
    }
}
@media (min-width : 700px){
    .burger{
        display: none;
    }
}
.burger{
    position: absolute;
    cursor: pointer;
    width : 30px;
    right : 2vh;
    top : 2.5vh;
    text-align: center;
}
.line{
    width: 25px;
    border-bottom: 3px solid white;
    margin : 6px 0;
}

@media (max-width : 700px){
    .side{
        display: block;
    }
}
@media (min-width : 700px){
    .side{
        display: none;
    }
}
.side{
    height : 100vh;
    width : 250px;
    background-color: rgb(116, 38, 38);
    position: fixed;
    top : 0;
    right : 0;
    padding : 80px 50px;
    transform: translateX(100%);
    transition: all 1s;
}
.side-list{
    list-style: none;
}
.side-links{
    display: block;
    text-align: center;
    text-decoration: none;
    color : white;
}

.slide{
    opacity: 1;
    transform: translateX(0%);
}

    </style>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <h2>IntroSchool</h2>
        </div>
        <div class="links">
            <ul class="top-list">
                <li><a href="#" class="nav-links">Sign Up</a></li>
                <li><a href="#" class="nav-links">Login</a></li>
                <li><a href="#" class="nav-links">Contact</a></li>
            </ul>
        </div>
        <div class="burger">
            <div class="line l1"></div>
            <div class="line l2"></div>
            <div class="line l3"></div>
        </div>

        <div class="side">
            <ul class="side-list">
                <li><a href="#" class="side-links">Sign Up</a></li>
                <li><a href="#" class="side-links">Login</a></li>
                <li><a href="#" class="side-links">Contact</a></li>
            </ul>
        </div>
    </div>
    <script >
        var btn = document.querySelector(".burger");

btn.addEventListener("click", function(){
    var side = document.querySelector(".side");
    side.classList.toggle("slide");
})
    </script>
</body>
</html>