<!DOCTYPE html>
<html>
<head>
    <style>
        body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content {
    padding: 1% 4%;
}


.border {
    height: 50px;
    background-color: red;
    width: 100%;
}


.profile-div {
    padding: 1% 5%;
}
.inline{
    display: inline-block;
}
.profile-pic {
    margin-top: 2.5%;
    width: 18%;
}
.profile-pic img{
    border-radius: 50%;
    width:  80%;
}
.last {
    color: red;
}
.desig {
    font-size: 1.5rem;
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
/* part 4 ends here */

.name {
    width: 40%;
    padding: 2%;
    font-size: 3rem;
}
.name div {
    width: 100%;
}
.contact {
    padding: 3% 0% 3% 3%;
    width: 32%;
    vertical-align: top;
}
.contact div {
    text-align: right;
    width: 100%;
    padding: 0px 10px 20px 10px;
}

/* part 5 ends here */


.sub-title {
    text-transform: uppercase;
    font-size: 25px;
}
.left {
    width: 20%;
    text-align: right;
    vertical-align: top;
}
.right {
    width: 78%;
    margin-left: 1%; 
    border-top: 4px solid red;
    padding: 10px 0px 20px 0px;
    margin-top: 10px;
}
ul {
    padding-left: 10px !important;
}

 /* part 6 ends here */

.color-red {
    color: red;
    padding: 0% 0% 25px 0%;
}
.noborder {
    border: none !important;
    margin-top: -10px;
}
.bold {
    font-weight: bold;
}

/* part 7 ends here */
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>My Resume</title>
</head>
<body>
    <div>
        <div class="border"></div>
        <div class="content">

            <div class="profile-div">
                <div class="profile-pic inline">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNkXBRlbMjiVpZv4J2brSHkrn6f2Jg-WKy12YPcjaVjbBu05l7&usqp=CAU" />
                </div>
                <div class="name inline">
                    <div class="uppercase">Louis</div>
                    <div class="last uppercase">Anderson</div>
                    <div class="desig uppercase">Software Engineer</div>
                </div>
                <div class="contact inline">
                    <div>Phone: 808-242-7281</div>
                    <div>Email: andersonlouis@gmail.com</div>
                    <div>Website: andersonlouis.com</div>
                </div>
            </div>

            <div class="profile">
                <div class="sub-title inline left">Profile</div>
                <div class="inline right">
                    <p>Software engineer with through hands-on experiencein all levels of testing, including performace,
                        functional, integration, system and user acceptance testing.</p>
                </div>
            </div>

            <!-- part 1 ends here  -->

            <div class="experience">
                <div class="sub-title inline left">Experience</div>
                <div class="inline right"></div>
                <div>
                    <div class="inline left color-red uppercase">Software Engineer</div>
                    <div class="inline right noborder">
                        <div class="bold">Healthmade Solutions (2015 - present)</div>
                        <ul>
                            <li>Direct software design</li>
                            <li>Evaluate interface between software and hardware</li>
                            <li>Advice customers regarding maintenance of software system</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="inline left color-red uppercase">Junior Software<br/> Engineer</div>
                    <div class="inline right noborder">
                        <div class="bold">Realpro Software (2014 - 2015)</div>
                        <ul>
                            <li>Stored, retrieved and amnipulated data</li>
                            <li>Modified existing softwares to correct errors</li>
                            <li>Prepared detailed reports</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- part 2 ends here -->

            <div class="skills">
                <div class="sub-title inline left">Skills</div>
                <div class="inline right">
                    <ul>
                        <li>Performance and Scalability Optimisation</li>
                        <li>SharePoint</li>
                        <li>API Design</li>
                        <li>Data warehousing and analytics</li>
                    </ul>
                </div>
            </div>

            <div class="education">
                <div class="sub-title inline left">Education</div>
                <div class="inline right"></div>
                <div>
                    <div class="inline left color-red uppercase">BS Software<br/>Engineering</div>
                    <div class="inline right noborder bold">New City College (2014 - 2010)</div>
                </div>
                <div>
                    <div class="inline left color-red uppercase">BA in Multimedia<br/>Arts</div>
                    <div class="inline right noborder bold">School of Arts (2010 - 2018)</div>
                </div>
            </div>

            <!-- part 3 ends here -->

        </div>
        <div class="border"></div>
    </div>
</body>

</html>