<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSgames</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f3ca4af96f.js" crossorigin="anonymous"></script>
    <style>
        body{
	background: #834d9b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d04ed6, #834d9b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d04ed6, #834d9b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align : center;
	margin : 0;
	font-family: 'Merriweather', serif;
	transition : background 0.4s;
}
h1{
	background-color: black;
    color : white;
    font-size: 1.8rem;
	font-weight: 700;
	padding : 2rem 0;
	margin : 0;
}

.stripe{
	text-align: center;
	height : 34px;
	background-color : white;
}
#reset{
	height : 34px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
	background-color: white;
	border:none;
	outline: none;
    color : black;
    transition : background 0.4s;
}
#reset:hover{
	background-color: black;
	color : white;
	transition : background 0.4s;
}

.game-section{
	margin : 20px auto;
	width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.option{
	border-radius: 50%;
	padding: 12% 12%;
	margin : 1%;
    background-color: white;
    transition: all 0.5s;
}
.option:hover{
    background-color: pink !important;
}
i{
	font-size : 3rem;
}


.blue{
	display: inline-block;
	margin : 6px 6px 0;
	height : 20px;
	width : 20px;
	background-color: pink;
}
.purple{
	display: inline-block;
	margin : 6px 6px 0;
	height : 20px;
	width : 20px;
	background-color: purple;
}

    </style>
</head>
<body>
<h1>Let's play Rock Paper Scissors!</h1>
<div class = "stripe">
	<button id="reset"><b>RESET</b></button>
</div>
<div class = "game-section">
		<div class = "option rock"><i class="fas fa-hand-rock"></i></div>
		<div class = "option paper"><i class="fas fa-hand-paper"></i></div>
		<div class = "option scissors"><i class="fas fa-hand-scissors"></i></div>
</div>
<hr>
<div class = "Score">
	<p><h3>First to score 5 wins</h3></p>
	<h2> <div class = "blue"></div><strong>YOU - </strong> <span id="yourScore">0</span> VS <div class = "purple"></div><strong>CPU - </strong> <span id="CPUscore">0</span> </h2>
</div>

<script>
    var option = document.querySelectorAll(".option");
var stripe = document.querySelector(".stripe");
var h1 = document.querySelector("h1");
var userScoreDisplay = document.querySelector("#yourScore"), us=0;
var CPUscoreDisplay = document.querySelector("#CPUscore"),   cs=0;
var CPUchoice, result, UserChoice;
var gameOver = false;
//To compute what the user has selected!!
for(var i=0;i<option.length;i++){
    option[i].addEventListener("click",function(){
        UserChoice = this.className.split(" ")[1];
        randomSelect();
        changeToPurple(CPUchoice);
        result = checkWhoWon(UserChoice,CPUchoice);
        displayResult(result);
    })
}

//Triggers when the reset button is clicked
reset.addEventListener("click",function(){
    h1.style.backgroundColor = "black";
    userScoreDisplay.textContent = 0;us=0;
    CPUscoreDisplay.textContent = 0;cs=0;
    h1.textContent = "Let's play Rock Paper Scissors!";
    gameOver = false;
})

//===========functions That will be used==============

//function to toggle colors 
function changeToPurple(target){
    document.querySelector(target).style.backgroundColor = "purple";
    setTimeout(function(){
        document.querySelector(target).style.backgroundColor = "white";
    },1000);
}
//To compute what has CPU chosen
function randomSelect(){
    var choice = Math.floor(Math.random() * 3) + 1;
    if(choice == 1){
        CPUchoice = ".rock";
    }else if(choice == 2){
        CPUchoice = ".paper";
    }else if(choice == 3){
        CPUchoice = ".scissors";
    }else{
        alert("something went wrong!");
    }
}
//To Compute the results
function checkWhoWon(uc,cc){
    if(uc == "rock" && cc == ".paper"){
        return "lose";
    }else if(uc == "rock" && cc == ".scissors"){
        return "win";
    }else if(uc == "paper" && cc == ".scissors"){
        return "lose";
    }else if(uc == "paper" && cc == ".rock"){
        return "win";
    }else if(uc == "scissors" && cc == ".paper"){
        return "win";
    }else if(uc == "scissors" && cc == ".rock"){
        return "lose";
    }else{
        return "tie";
    }
}
//To change the animation based on win or lose
function displayResult(result){
    if(!gameOver){
        if(result == "lose"){  
            cs++;
        }else if(result == "win"){
            us++;
        }
        userScoreDisplay.textContent = us;
        CPUscoreDisplay.textContent = cs;
    }

    //Triggers when one wins the match
    if(us == 5 && cs == 5){
        resultDisplay.textContent = "It's a tie";
        h1.style.backgroundColor = "steelblue";
        gameOver = true;
    }
    else if(cs == 5){  
        h1.textContent = "You Lost!!";
        h1.style.backgroundColor = "red";
        gameOver = true;
    }else if(us == 5){
        h1.textContent = "You Win!!";
        h1.style.backgroundColor = "green";
        gameOver = true;
    }
}

</script>
</body>
</html>