<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parralax website</title>
    <style>
        *{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.img{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.img1{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.img2{
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1544256718-3bcf237f3974?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
}
.img3{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1558981285-6f0c94958bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
.img4{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1546943362-ee53d216317c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80");
}
.text{
    background-color: rgb(59, 60, 92);
    padding: 25px;
    color: white;
}
h3, h1{
    text-align: center;
    color : white;
}
h1{
    padding-top: 50vh;
    font-size: 2rem;
}

    </style>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="img img1">
        <h1>Parallax Images</h1>
    </div>
    <div class="text">
        <h2>The Golden Gate Bridge</h2>
        <p>The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the one-mile-wide (1.6 km) strait connecting San Francisco Bay and the Pacific Ocean. The structure links the U.S. city of San Francisco, California—the northern tip of the San Francisco Peninsula—to Marin County, carrying both U.S. Route 101 and California State Route 1 across the strait. The bridge is one of the most internationally recognized symbols of San Francisco and California. It was initially designed by engineer Joseph Strauss in 1917. It has been declared one of the Wonders of the Modern World by the American Society of Civil Engineers.</p>
    </div>
    <div class="img img2"></div>
    <div class="text">
        <h2>Coding</h2>
        <p>You’ve heard tons about coding and know that it has to do with computers and how they process the information we see. However, you may not have much more than this vague understanding of the concept. Don’t feel bad. Many people don’t really understand it, though we all depend on the fundamentals of code each and every day. It’s such an important aspect of the technological landscape that, according to Fortune, former President Obama unveiled an initiative called “Computer Science for All” that has been backed by and invested in by big names, including the Turner Broadcasting Network. This movement is one that mirrors that of our nation’s schools that have been emphasizing the value of technology, computer science, engineering, and other STEM-related topics. Read on to discover what computer code is and why it is of such importance in today’s society.</p>
    </div>
    <div class="img img3"></div>
    <div class="text">
        <h2>Harley Davidson</h2>
        <p>Harley-Davidson, Inc., H-D, or Harley, is an American motorcycle manufacturer founded in 1903 in Milwaukee, Wisconsin. Along with Indian it was one of two major American motorcycle manufacturers to survive the Great Depression. The company has survived numerous ownership arrangements, subsidiary arrangements, periods of poor economic health and product quality, and intense global competition to become one of the world's largest motorcycle manufacturers and an iconic brand widely known for its loyal following. There are owner clubs and events worldwide, as well as a company-sponsored, brand-focused museum.</p>
    </div>
    <div class="img img4"></div>
</body>
</html>